.hpts{
	background-color: #e8bb6f;
right: 10px;
}
.pupper{
	 filter: saturate(10);
}
.mainhead{
	font-family: "Arial";
	color: red;
	font-size: 100px;
	text-align: center;

}
body{
background-color: #e8bb6f;
}
.side{
	background-color: #f44336;
    color: white;
    padding: 14px 40px;
	text-decoration: none;
    display: inline-block;
	border: 5px solid black;
	font-family: "Arial";
}
